# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache
coverage.xml
.coverage
.coverage.*

# PyCharm
.idea/workspace.xml

# VS Code
.vscode/

# virtualenv
.venv
venv/
ENV/

# local test files
example.py
